{% extends 'base.html' %}

<!-- <script type="text/javascript">
    window.onload = setInterval(clock,1000);
    function clock()
    {
        var d = new Date();
        var date = d.getDate();
        var year = d.getFullYear();
        var month = d.getMonth();
        var monthArr = ["January", "February","March", "April", "May", "June", "July", "August", "September", "October", "November","December"];
        month = monthArr[month];
        document.getElementById("dattimeHolder").innerHTML=date+" "+month+", "+year;
    }
    </script> -->

{% block head %}
<title>Via template </title>
test this
{% endblock %}

{% block body %}
<h1>Tested with template</h1>
<div class="dvWeatherWrapper">
    <div class="dvDescription">
        <div>
            <img src="{{data.Weather_description.icon}}" alt="weather_icon"  class="weatherIcn">
        </div>
        <div>
        <span>{{data.Weather_description.description}}</span>
    </div>
    
    </div>
    <!-- <table>
        <tr>
            <td>

            </td>
        </tr>
    </table> -->
    <ul>
        <!-- <li>
            



        </li> -->
        <li>Temp : {{data.main_data.temp}}&deg;</li>
        <li class="temp_hi" >Hi : {{data.main_data.max_temp}}&deg;</li>
        <li class="temp_low" >Low : {{data.main_data.min_temp}}&deg;</li>
        
    </ul>
    
    <div>
        {% for dailyMinMax in _4DayForCast %}
            <li> 
                    {{ dailyMinMax[0] }} 
                        <span class="temp_low"> (Low : {{ dailyMinMax[1][1] }} )</span> / 
                        <span class="temp_hi"> (High : {{ dailyMinMax[1][0] }})</span>
            </li>
        {% endfor %}
    </div>

    <div>
        <table>
        {% for dailyMinMax in _4DayForCast %}
            <tr>
                 <td>  {{ dailyMinMax[0] }}  </td>  
                 <td>  <span class="temp_low"> (Low : {{ dailyMinMax[1][1] }} )</span> /  
                    <span class="temp_hi"> (High : {{ dailyMinMax[1][0] }})</span> 
                </td>     
                
            </tr>
        {% endfor %}
    </table>
    </div>

    <div>
        <table>
            <!--
 dayName: str
    dailyMin : str
    dailyMax : str
    weather_icon_max : str
    weather_icon_min : str

            -->
        {% for dailyMinMax in _4day_type2 %}
            <tr>
                 <td>  {{ dailyMinMax.dayName }}  </td>  
                 <td>  <span class="temp_low"> (Low : {{ dailyMinMax.dailyMin }} ) {{dailyMinMax.weather_icon_max }}</span> /  
                    <span class="temp_hi"> (High : {{ dailyMinMax.dailyMax }}) {{dailyMinMax.weather_icon_min }}</span> 
                </td>
                   
                
            </tr>
        {% endfor %}
    </table>
    </div>

</div>
<div class="dvDateTime">
    <span id="dattimeHolder"></span><br/>
    <span id ="dayMonthYearHolder"></span>
    <div class="dvTimeOfDay">
        <span id ="timeOfDayHolder"></span>
    </div>
    
</div>
<div class="dvZemanim">
    <ul style="direction:rtl;">
        {% for zman in Zemanim %}
            <li> {{ zman }} : {{ Zemanim[zman] }} </li>
        {% endfor %}
    </ul>
    <div style="float:right;">
        <div id="hebcal-shabbat"></div>
    </div>
</div>



<script defer>
fetch('https://www.hebcal.com/shabbat?cfg=i2&geonameid=281184&M=on&lg=s&tgt=_top')
  .then(response => response.text())
  .then(data => document.getElementById('hebcal-shabbat').innerHTML = data);
</script>


<script type="text/javascript">
    window.onload = setInterval(clock,1000);
    function clock()
    {
        var d = new Date();
        var date = d.getDate();
        var year = d.getFullYear();
        var month = d.getMonth();
        var monthArr = ["January", "February","March", "April", "May", "June", "July", "August", "September", "October", "November","December"];
        month = monthArr[month];
        document.getElementById("dattimeHolder").innerHTML=date+" "+month+", "+year;
        document.getElementById('dayMonthYearHolder').innerHTML =d.toDateString()
        document.getElementById('timeOfDayHolder').innerHTML=d.toTimeString().slice(0,8)
    }
    </script>
{% endblock %}